<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Making blogging website to learn RAILS</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <!--<link rel="stylesheet" href="scss/aplication.css">-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header id="main_navigation" class="clearfix">
  <!--<a href="#" class="name">Logan</a>-->
  <%= link_to "LOGAN" ,root_path ,class:"name" %>
  <nav>
    <%= link_to "Articles",posts_path%>
    <!--<a href="articles.html">Articles</a>-->
    <%= link_to "Projects",projects_path%>
    <a href="contact.html">Contact</a>
  </nav>
</header>

<%= yield %>
<footer id="main_footer">
  <p class="copyright">&copy;2015 pawan</p>
  <nav>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-github"></i></a>
  </nav>
</footer>
</body>
</html>
